.main-color {
	background-color: #f7dba7;
}

.main-bg-color {
	background-color: #fceed5;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: #003459;
}

.main__layout {
	width: 1440px;
	margin: 0 auto;
}
